@charset "utf-8";
body, html {
height:100%;
}
.liveleft {
	width:220px;
	float:left;
	background:#fff;
	margin-top:30px;
}
.liveleft .live-title-bg {
	width:220px;
	height:50px;
	background:url(../images/leftbg.png) center no-repeat;
	color:#fff;
	line-height:48px;
	font-size:16px;
}
.liveleft .live-title-bg .live-title-img {
	margin-left:10px;
}
.liveleft .live-title-bg .live-title-img .live-title-icon {
	width:32px;
	height:32px;
	display:block;
	float:left;
	background:url(../images/icon-w.png) center no-repeat;
	margin-top:10px;
}
.liveleft .live-title-bg .live-title-img .live-title-txt {
	margin-left:10px;
}
.liveleft .live-con {
	padding:15px 0px;
	width:200px;
	margin:auto;
}
.liveleft .live-con-title {
	width:100%;
	height:20px;
	text-indent:15px;
	line-height:20px;
	font-size:14px;
	color:#333;
	border-left:3px solid #ff4436;
	margin-bottom:15px;
}
.type-box {
	float: left;
	width: 200px;
	color: #8c9fb1;
	font-size: 14px;
}
.type-box li {
	float: left;
	width: 88px;
	height: 30px;
	display:inline-block;
	line-height: 30px;
	border: 1px solid #e8f0f3;
	margin: 0 5px 10px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
}
.type-box li a {
	color: #8c9fb1;
	height: 30px;
	line-height: 28px;
	display:block;
}
.type-box li:hover {
	background:#eff3f7;
}
.type-box li.active {
	background:#eff3f7;
}
.liveright {
	width:955px;
	display:inline;
	float:right;
	margin-top:30px;
}
.liveright .liveright-title {
	width:100%;
	text-align:left;
	color:#333;
	font-size:18px;
	line-height:50px;
}
.liveright .liveright-title a {
	font-size:14px;
	color:#666;
}
.liveright .liveright-title a .on {
	color:#ff4436
}
.liveright .liveright-title a:hover {
	color:#ff4436;
}
.liveright-tab li {
	float:left;
	height:20px;
	padding:0 3px;
}
.liveright-tab >li.active > a, .liveright-tab > li.active > a:hover, .liveright-tab > li.active > a:focus {
	color:#ff4436;
	cursor: default;
	background-color:none !important;
	border: none;
}
.liveright-tab li a {
	line-height:20px;
}
.liveright .live-right-tag {
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../images/new.png) right no-repeat;
}
.liveright .live-right-tag1 {
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../images/top1.png) right no-repeat;
}
.liveright .live-right-tag2 {
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../images/top2.png) right no-repeat;
}
.liveright .live-right-tag3 {
	width:40px;
	height:40px;
	display:block;
	position:absolute;
	right:0px;
	top:0px;
	background:url(../images/top3.png) right no-repeat;
}
.liveback {
	width:100%;
	margin:auto;
	height:626px;
	background:url(../images/backbg.jpg) center no-repeat;
}
.basic-info {
	width:100%;
	background:#fff;
	margin-top:30px;
	padding:15px 0;
	height:120px;
*height:100px;
}
.basic-info .basic-left {
	width:375px;
	float:left;
	margin-left:30px;
}
.basic-info .basic-left-img {
	width:90px;
	height:90px;
	display:block;
	float:left;
}
.basic-info .basic-left-txt {
	display:inline-block;
	margin-left:20px;
*position:relative;
*left:20px;
}
.basic-info .basic-left-txt .basic-left-name {
	height:40px;
	line-height:40px;
	color:#333;
	font-size:18px;
}
.basic-info .basic-left-txt .basic-left-tec {
	height:25px;
	line-height:25px;
	color:#fe6454;
	font-size:14px;
}
.basic-info .basic-left-txt .basic-left-time {
	height:25px;
	line-height:25px;
	color:#999;
	font-size:12px;
}
.glyphicon-time:before {
	top:2px;
	position:relative;
}
.basic-info .basic-left-num {
	margin-right:30px;
	text-align:right;
	height:40px;
	line-height:40px;
}
.basic-info .basic-share {
	width: 245px;
	height:50px;
	line-height:50px;
}
.basic-info .basic-share .basic-share-title {
	float:left;
	display:inline;
}
.basic-info .basic-share li {
	float:left;
	width: 32px;
	height: 32px;
	margin-left:10px;
}
.basic-info .basic-share .basic-share-icon {
	width: 32px;
	height: 32px;
	margin-left: 8px;
	background: url(../images/share-icon_72bc2261a0.png) no-repeat;
	opacity: .9;
	filter: alpha(opacity=90);
	display: inline-block;
	vertical-align: middle;
}
.basic-info .basic-share li {
	float:left;
	width: 32px;
	height: 32px;
}
.basic-info .basic-share li .basic-share-icon-weibo {
	background-position: -60px 0;
}
.basic-info .basic-share li .basic-share-icon-qzone {
	background-position: -60px -120px;
}
.basic-info .basic-share li .basic-share-icon-qq {
	background-position: -60px -60px;
}
.basic-info .basic-share li .basic-share-icon-wechat {
	background-position: -60px -180px;
}
.comment-area {
	width:100%;
	background:#fff;
	margin-top:20px;
	padding:30px 0;
}
.comment-send {
	width: 1005px;
	height: 82px;
	background: #fff;
	border: #ddd 1px solid;
	display:inline-block;
}
.comment-send-1 {
	width: 735px;
	height: 82px;
	background: #fff;
	border: #ddd 1px solid;
	display:inline-block;
}
.comment-area .comment-area-con .comment-send-img {
	width:45px;
	height:45px;
	display: inline-block;
	vertical-align:top;
	margin-right:15px;
	*float:left;
}
.comment-area .comment-area-con-1 .comment-send-img {
	width:45px;
	height:45px;
	display: inline-block;
	vertical-align:top;
	margin-right:15px;
	*float:left;
}
.comment-send .sendicon {
	width: 45px;
	height: auto;
	display: inline-block;
	float: left;
	margin-top:10px;
}
.comment-send .sendicon img {
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
}
.comment-send-1 .sendicon {
	width: 45px;
	height: auto;
	display: inline-block;
	float: left;
	margin-top:10px;
}
.comment-send-1 .sendicon img {
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
}

.comment-area .comment-area-con {
	width:1070px;
	margin:auto;
}
.comment-area .comment-area-con-1 {
	width:800px;
	margin:auto;
}
.comment-send .sendbtn {
	width: 100px;
	height: 80px;
	background: #fe6454;
	font-size: 16px;
	text-align: center;
	line-height: 80px;
	color: #fff;
	display:inline-block;
	float:right;
	*height: 82px;
	*line-height: 82px;
}
.comment-send .sendtext {
	width: 855px;
	height: auto;
	line-height: 20px;
	color: #666;
	font-size: 14px;
	float: left;
	border: none;
	outline: none;
	padding:0 10px;
	*padding:0px;
	resize: none;
}
.comment-send-1 .sendbtn {
	width: 100px;
	height: 80px;
	background: #fe6454;
	font-size: 16px;
	text-align: center;
	line-height: 80px;
	color: #fff;
	display:inline-block;
	float:right;
	*height: 82px;
	*line-height: 82px;
}
.comment-send-1 .sendtext {
	width: 585px;
	height: auto;
	line-height: 20px;
	color: #666;
	font-size: 14px;
	float: left;
	border: none;
	outline: none;
	padding:0 10px;
	*padding:0px;
	resize: none;
}
.comment-area .comment-area-num {
	width:1070px;
	margin:auto;
	 margin-top: 80px;
}
.comment-area .comment-area-num .comment-num-title {
	width:auto;
	height:30px;
}
.comment-area .comment-area-num .comment-num-title-line {
	width:100%;
	margin:auto;
	display:block;
	height:1px;
	background:#ddd;
	margin-top:10px;
}
.comment-area .comment-area-num .comment-num-title-txt {
	width:150px;
	margin-top:-12px;
	background:#fff;
	font-size:18px;
	color:#333;
	font-weight:bold;
	letter-spacing:1px;
}
.comment-area .comment-area-num .comment-num-con {
	width:auto;
	margin:auto;
	height:auto;
}
.comment-area .comment-area-num .comment-num-con ul li .comment-num-img {
	width: 45px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
	*float:left;
}
.comment-area .comment-area-num .comment-num-con ul li {
	display:block;
	padding:15px 0;
	border-bottom:#ddd 1px solid;
	height:auto;
}
.comment-area .comment-area-num .comment-num-con ul li .comment-num-txt {
	display: inline-block;
	margin-left: 20px;
	width: 980px;
}
.comment-area .comment-area-num .comment-num-con ul li .comment-num-txt .comment-num-user {
	line-height:22px;
	height:22px;
	font-size:14px;
	*margin-left:20px;
}
.comment-area .comment-area-num .comment-num-con ul li .comment-num-txt .comment-num-user a {
	cursor:pointer;
}
.comment-area .comment-area-num .comment-num-con ul li .comment-num-txt .comment-num-user a:hover {
	color:#fe6454;
}
.comment-area .comment-area-num .comment-num-con ul li .comment-num-txt .comment-num-reply {
	width:700px;
	background:#f2f2f5;
	padding:10px;
	margin-top:10px;
	border:#e8e8eb 1px solid;
	*margin-left:20px;
}
.comment-area .comment-lookmore{ line-height:50px; text-align: center; margin-top:20px;}
.comment-area .comment-lookmore a:hover{color:#fe6454;}



.comment-area .comment-area-num-1 {
	width:800px;
	margin:auto;
	 margin-top: 80px;
}
.comment-area .comment-area-num-1 .comment-num-title {
	width:auto;
	height:30px;
}
.comment-area .comment-area-num-1 .comment-num-title-line {
	width:100%;
	margin:auto;
	display:block;
	height:1px;
	background:#ddd;
	margin-top:10px;
}
.comment-area .comment-area-num-1 .comment-num-title-txt {
	width:150px;
	margin-top:-12px;
	background:#fff;
	font-size:18px;
	color:#333;
	font-weight:bold;
	letter-spacing:1px;
}
.comment-area .comment-area-num-1 .comment-num-con {
	width:auto;
	margin:auto;
	height:auto;
}
.comment-area .comment-area-num-1 .comment-num-con ul li .comment-num-img {
	width: 45px;
	height: 45px;
	display: inline-block;
	vertical-align: top;
	*float:left;
}
.comment-area .comment-area-num-1 .comment-num-con ul li {
	display:block;
	padding:15px 0;
	border-bottom:#ddd 1px solid;
	height:auto;
}
.comment-area .comment-area-num-1 .comment-num-con ul li .comment-num-txt {
	display: inline-block;
	margin-left: 20px;
	width:730px;
}
.comment-area .comment-area-num-1 .comment-num-con ul li .comment-num-txt .comment-num-user {
	line-height:22px;
	height:22px;
	font-size:14px;
	*margin-left:20px;
}
.comment-area .comment-area-num-1 .comment-num-con ul li .comment-num-txt .comment-num-user a {
	cursor:pointer;
}
.comment-area .comment-area-num-1 .comment-num-con ul li .comment-num-txt .comment-num-user a:hover {
	color:#fe6454;
}
.comment-area .comment-area-num-1 .comment-num-con ul li .comment-num-txt .comment-num-reply {
	width:700px;
	background:#f2f2f5;
	padding:10px;
	margin-top:10px;
	border:#e8e8eb 1px solid;
	*margin-left:20px;
}










.masterview{ width:auto; margin:auto; margin-top:30px;}
.masterview .masterview-ban{ width:900px;}
.masterview .masterview-num{ width:300px; height:230px; display:block;background:url(../images/topnum.jpg) no-repeat;}
.masterview .masterview-num .masterview-num-con{ width:90%; margin:auto;}
.masterview .masterview-num .masterview-num-con .masterview-num-title{ margin-top:30px;}
.masterview .masterview-num .masterview-num-con .masterview-num-title .masterview-num-tit1{ display:inline; font-size:20px; font-weight:600;}
.masterview .masterview-num .masterview-num-con .masterview-num-title .masterview-num-tit1 b{ font-size:14px; font-weight:400;}
.masterview .masterview-num .masterview-num-con .masterview-num-title .masterview-num-btn{ display:inline-block; padding:3px 10px; background:#eaa129; text-align:center; color:#fff;}
.masterview .masterview-num .masterview-num-con .masterview-data{ margin-top:30px;}
.masterview .masterview-num .masterview-num-con .masterview-data .masterview-data-num{ font-size:50px; color:#038956;}
.masterview .masterview-num .masterview-num-con .masterview-data .masterview-data-num1{ font-size:16px; height:50px;color:#038956; margin-top:15px;}
.masterview .masterview-num .masterview-num-con .masterview-data .masterview-data-num1 p{ height:25px; line-height:25px; font-weight:500;}
.masterview .masterview-left{ width:900px; height:auto; background:#fff;padding-bottom: 30px; display:block; position:relative;}
.masterview .masterview-left .masterview-left-tab{ width:95%; margin:auto;}
.masterview .masterview-left .masterview-left-tab .masterview-left-tablist{ width:100%; height:45px; border-bottom:#ddd 1px solid; margin-top:20px;}
.masterview .masterview-left .masterview-left-tab .masterview-left-tablist li a{ width:70px; border:none; background:none;font-size:18px; font-weight:bold; color:#333; padding:0px; line-height:42px; padding:0px 12px; text-align:center;}
.masterview .masterview-left .masterview-left-tab .masterview-left-tablist > li.active > a, .masterview-left-tablist > li.active > a:hover, .masterview-left-tablist > li.active > a:focus {
    color: #ff4436;
	*color: #ff4436;
    cursor:pointer;
    border-bottom: 3px solid #ff4436;
	 *border-bottom: 3px solid #ff4436;
}
.masterview .masterview-left .masterview-left-filter{ width:400px; margin:auto;padding-top:30px; margin-bottom:30px;}
.masterview .masterview-left .masterview-left-filter a{ float:left; display:inline-block; height:30px; line-height:28px;color:#fe6454; border:#fe6454 solid 1px; padding:0px 10px; text-align:center; font-size:16px; margin-left:30px; border-radius:5px;}
.masterview .masterview-left .masterview-left-filter a:hover{ background:#fe6454; color:#fff;}
.masterview .masterview-left .masterview-left-filter .over{background:#fe6454; color:#fff;}

.masterview .masterview-left .message-1 {
	width:850px;
	margin:auto;
	padding-top:30px;
}
.masterview .masterview-left .message-1 .m-left{ width:675px; float:left; *width:650px;}
.masterview .masterview-left .message-1 .m-right{ width:155px; float:left; display:inline; margin-top:25px; *margin-right:0px; border:#ddd 1px solid; margin-right:20px;}
.masterview .masterview-left  .message-1 ul li {
	width:auto;
	height:160px;
	line-height:25px;
*height:160px;
	border-bottom:#ddd 1px solid;
	margin-top:20px;
}
.masterview .masterview-left .message-1 ul li .mymessage {
	width:60px;
	height:50px;
	display:block;
	float:left;
}
.masterview .masterview-left .message-1 ul li .mytxt {
	line-height:25px;
	margin-left:10px;
	font-size:16px;
	text-align:left;
	float:left;
	display:inline;
 *margin-left:20px;
}
.masterview .masterview-left .message-1 ul li .mytxt .read{ color:#333; font-weight:700;}
.masterview .masterview-left .message-1 ul li .mytxt .read span strong{ color:#ea5a43; position:relative; top:-1px;}




.masterview .masterview-left .message-1 .mymessage {
	width:60px;
	height:50px;
	display:block;
	float:left;
}
.masterview .masterview-left .message-1  .mytxt {
	line-height:25px;
	margin-left:10px;
	font-size:16px;
	text-align:left;
	float:left;
	display:inline;
 *margin-left:20px;
}
.masterview .masterview-left .message-1  .mytxt .read{ color:#333; font-weight:700;}
.masterview .masterview-left .message-1  .mytxt .read span strong{ color:#ea5a43; position:relative; top:-1px;}
.release {
	width:750px;
	display:block;
	margin:auto;
	padding:0px;
}
.release h4 {
	padding:0px;
	margin:0px;
	line-height:25px;
}
.release .re-person {
	text-align:left;
	font-size:14px;
	line-height:25px;
	color:#666;
}
.release .re-person span {
	color:#ff4436;
	position:relative;
	top:-2px;
}
.release .re-txt {
	width:750px;
	margin:auto;
	font-size:14px;
	color:#999;
	*color:#999;
        height:55px;
        /*overflow: hidden;*/
}
.release .re-txt .artDesc{
    color: #333;
    text-decoration: none;
}
.re-txt>p>.artDesc{
    height: 55px;
    overflow: hidden;
    /*display: block;*/
}
.release .de-txt {
	width:750px;
	margin:auto;
	font-size:14px;
	color:#999;
	*color:#999;
}
.release .de-txt img{
	max-width: 720px;
	
}
.release .de-txt p{
	font-size:14px;
	color:#666;
	}
.release .re-txt a{ color:#3c92e8;}
.release .re-txt a:hover{ text-decoration:underline;color:#3c92e8;}
.release .re-txt p{
	position:relative;
overflow: hidden;
text-overflow:ellipsis;
white-space: normal;}
.release-1 {
	width:550px;
	display:block;
	margin:auto;
	padding:0px;
}
.release-1 h4 {
	padding:0px;
	margin:0px;
	line-height:25px;
}
.release-1 .re-person {
	text-align:left;
	font-size:14px;
	line-height:25px;
	color:#666;
}
.release-1 .re-person span {
	color:#ff4436;
	position:relative;
	top:-2px;
}
.release-1 .re-txt {
	width:550px;
	margin:auto;
	font-size:14px;
	color:#999;
height:60px;
}
.release-1 .re-txt a{ color:#3c92e8;}
.release-1 .re-txt a:hover{ text-decoration:underline;color:#3c92e8;}
.release-1 .re-txt p{
	position:relative;
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}

.release-1 .de-txt {
	width:550px;
	margin:auto;
	font-size:14px;
	color:#999;
}
.release-1 .de-txt p{
	font-size:14px;
	color:#666;
}


.masterview .masterview-right{ width:280px; *width:300px;  height:auto; position:relative;}
.masterview .masterview-right .masterview-right-hot{ padding:0 20px; background:#fff;}
.masterview .masterview-right .masterview-right-hot  .masterview-hot-title{line-height: 45px;
    height: 50px;
    color: #333;
	text-indent:10px; font-size:16px;
}
.masterview .masterview-right .masterview-right-hot  .masterview-hot-title i{
    width: 5px;
    height: 20px;
    background: #ea5a3d;
    float: left;
    margin-top: 15px;}
.masterview .masterview-right .masterview-right-hot .masterview-hot-con{ width: auto; margin:auto;}
.masterview .masterview-right .masterview-right-hot .masterview-hot-con li {
    width: 100%;
    margin: auto;
    line-height: 29px;
}
 .masterview .masterview-right .masterview-right-hot .masterview-hot-con li a {
    width: 100%;
    margin: auto;
    color: #666;
    display: block;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 5px;
}
 .masterview .masterview-right .masterview-right-hot .masterview-hot-con li a span {
    color: #ea5a3d;
    padding-right: 5px;
}
  .masterview .masterview-right .masterview-right-hot .masterview-hot-con li a:hover {
	color:#ea5a3d;
}
.masterview .masterview-right .masterview-right-hot .masterview-hot-con .r-on a {
    color: #ea5a3d;
}
.masterview .masterview-right .masterview-right-ban{ *width:300px; margin-top:10px;} 
.masterview .masterview-right .masterview-right-ban img{*width:300px;}
.masterview .masterview-right .masterview-right-view-p li{ border-top:#ddd 1px solid; padding:20px 0px;}
.masterview .masterview-right .masterview-right-view-p li .masterview-people-img{ width:64px; height:64px;float: left; display:inline-block;}

.masterview-people {
	width:160px;
	display:inline-block;
	height:auto;
	margin:auto;
	padding:0px;
	margin-left:5px;
	
}
.masterview-people h4 {
	width:150px;
	padding:0px;
	margin:0px;
	height:25px;
	color:#333;
  position:relative;
   overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;
font-size:16px;

}
.masterview-people .re-person {
	text-align:left;
	font-size:14px;
	line-height:20px;
	color:#666;
}
.masterview-people .re-person span {
	color:#ff4436;
	position:relative;
	top:-2px;
}
.masterview-people .re-txt {
	width:160px;
	margin:auto;
	font-size:14px;
	color:#999;
	*color:#999;
height:25px;
line-height: 25px;
}
.masterview-people .re-txt .guangzhu-data{ color:#666; }
