@charset "utf-8";
body {
}
.change{ width:1000px; margin:auto; background:#f7f7f7; border:#e0e0e0 1px solid; border-top:2px #fe6454 solid; margin-top:50px; margin-bottom:50px; *position:relative;*z-index:-3px;}
.change .step{ width:100%; margin:auto; background:#fff; padding:30px 0; height:170px;}
.change .c-step{ width:100%; margin:auto; background:#fff; padding:30px 0;}
.change .step .steptit{ text-align:center; color:#333; font-size:18px;}
.change .step .step1{ width:353px; margin:auto;margin-top:20px;}
.change .step .step1 .stepimg1 {background:url(../images/step1.png) center no-repeat; height:24px;  }
.change .step .step2{ width:353px; margin:auto;margin-top:20px;}
.change .step .step2 .stepimg2 {background:url(../images/step2.png) center no-repeat; height:24px;  }
.change .step .step3{ width:353px; margin:auto;margin-top:20px;}
.change .step .step3 .stepimg3 {background:url(../images/step3.png) center no-repeat; height:24px;  }
.change .step .bind1{ width:353px; margin:auto;margin-top:20px;}
.change .step .bind1 .stepimg1 {background:url(../images/bind1.png) center no-repeat; height:24px;  }
.change .step .bind2{ width:353px; margin:auto;margin-top:20px;}
.change .step .bind2 .stepimg3 {background:url(../images/bind2.png) center no-repeat; height:24px;  }
.change .step .steptxt{ width:100%; margin:auto; margin-top:10px; font-size:16px; }
.change .step .steptxt span{ width:33%; float:left; text-align:center;}
.change .step .steptxt .s1{ text-align:left; position:relative;    left: -10px;}
.change .step .steptxt .s2 {left:0px; position:relative;}
.change .step .steptxt .s3{ text-align:right; position:relative; left:8px;}
.change .old{ width:380px; margin:auto; margin-top:55px; margin-bottom:55px; font-size:16px;}
.change .old form{ margin-top:30px;}
.change .old   label{ width:80px; float:left; font-size:16px; font-weight:400; line-height:34px;}
.change .old  .oldtext{ width:200px;*width:160px; display:inline;*height:34px; *line-height:34px; *padding:3px;}
.change .old  .oldtext:focus {
  border-color: #ff4436;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}
.change .old .stepbtn1 a{ width:220px; *width:180px; float: left; margin-top:20px; height:34px; background:#ff4436; text-align:center; color:#fff; font-size:16px; padding:6px 0px; cursor:pointer;*margin-left:80px;*line-height:34px;}
.change .old .stepbtn1 a{ color:#fff;}
.change .old .forgotstep{width:200px; *width:200px; *margin-left:80px;margin-left:80px; float: left; font-size:14px; padding:6px 0px;line-height:34px;}
.change .old .forgotstep a{ position:relative;top:-3px;}




.change .setnew{ width:400px; margin:auto; margin-top:55px; margin-bottom:55px; font-size:16px;}
.change .setnew p{ margin-top:15px;}
.change .setnew form{ margin-top:30px;}
.change .setnew   label{ width:100px; float:left; font-size:16px; font-weight:400; line-height:34px; text-align:right;}
.change .setnew  .oldtext{ width:200px;*width:160px; display:inline;*height:34px; *line-height:34px; *padding:3px;}
.change .setnew  .oldtext:focus {
  border-color: #ff4436;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}
.change .setnew .stepbtn1 a{ width:200px; *width:200px; margin:auto; display:block;margin-top:15px; height:34px;*line-height:34px; background:#ff4436; text-align:center; color:#fff; font-size:16px; padding:6px 0px; cursor:pointer;}
.change .setnew .stepbtn1 a{ color:#fff;}
.change .glyphicon-exclamation-sign{ color:#ff9802; font-size:16px;}

.change .carryout{ width:400px;margin:auto; margin-top:55px; margin-bottom:55px; font-size:16px;}
.change .carryout .carrycon{ width:100%; margin:auto;}
.change .carryout .carrycon .carryimg{ width:30px; height:32px; display:block; margin:auto;}
.change .carryout .carrycon .carrytxt{ text-align:center; font-size:18px; line-height:60px; color:#ff4436;}
.change .carryout .carrycon .second3{ text-align:center; font-size:12px; color:#666;}
.change .carryout .stepbtn1 a{ width:240px; *width:240px; margin:auto; display:block;margin-top:15px; height:34px;*line-height:34px; background:#ff4436; text-align:center; color:#fff; font-size:16px; padding:6px 0px; cursor:pointer;}
.change .carryout .stepbtn1 a{ color:#fff;}

.change .forgot{ width:100%; margin:auto;margin-top:55px; margin-bottom:55px; font-size:16px; }
.change .forgot p{ margin-top:15px; text-align:center;}
.change .forgot form{ width:400px; *width:450px;margin:auto; margin-top:30px;}
.change .forgot   label{ width:100px; float:left; font-size:16px; font-weight:400; line-height:34px; text-align:right;}
.change .forgot  .oldtext{ width:200px;*width:200px; float:left; display:inline;*height:30px; *line-height:30px; *padding:3px;}
.change .forgot  .oldtext:focus {
  border-color: #ff4436;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}
.change .forgot  .oldtext1{ width:100px;*width:100px;  float:left;display:inline;*height:30px; *line-height:30px; *padding:3px;}
.change .forgot  .oldtext1:focus {
  border-color: #ff4436;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}

.change .forgot .v-code{width:90px;*width:90px; position:relative;*position:relative;  float:left;display:inline;*height:34px;height:34px; background:#e2e2e2; margin-left:10px; padding:0 3px; line-height:30px;}
.change .forgot .v-code a{ font-size:14px;}
.change .forgot .f-code{width:90px;*width:90px; position: relative; *position:relative; float:left;display:inline;*height:34px;height:34px; background:#ffb007; margin-left:10px; padding:0 3px; line-height:30px;}
.change .forgot .f-code a{ font-size:14px; color:#fff;}
.change .forgot .stepbtn1 a{ width:200px; *width:200px; margin:auto; display:block; margin-top:20px; height:34px; background:#ff4436; text-align:center; color:#fff; font-size:16px; padding:6px 0px; cursor:pointer;*line-height:34px;}
.change .forgot .stepbtn1 a{ color:#fff;}
.change .forgot .forgotstep{width:200px; *width:200px;margin:auto; font-size:14px; padding:6px 0px;}
.change .forgot .forgotstep a{ position:relative; top:-3px;}



.change .c-step{ width:100%; margin:auto; background:#fff; padding:30px 0;}
.change .c-step .steptit{ text-align:center; color:#333; font-size:18px;}
.change .Realname{ width:100%; margin:auto; margin-top:55px; margin-bottom:55px; font-size:16px;}
.change .Realname p{ margin-top:15px; text-align:center;}
.change .Realname form{ width:450px; margin:auto; margin-top:30px;}
.change .Realname label{ width:100px; float:left; font-size:16px; font-weight:400; line-height:34px; text-align:right;}
.change .Realname .oldtext{ width:220px;*width:220px; display:inline; float:left;*height:34px; *line-height:34px; *padding:3px; font-size:14px;}
.change .Realname  .oldtext:focus {
  border-color: #ff4436;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 0px 0px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}
.change .Realname .stepbtn1 {width:300px;*width:300px; display:inline; float:left;*padding:3px;*margin-left:80px;margin-left:80px; }
.change .Realname .stepbtn1 .btn{ margin-left:15px;}
.change .Realname .stepbtn1 .steppink{ width:110px; *width:110px; float:left; display:block;margin-top:15px; height:40px;*height:40px;*line-height:25px; background:#ff4436; text-align:center; color:#fff; font-size:16px; padding:6px 0px; cursor:pointer;}
.change .Realname .stepbtn1 .stepwhite{ width:110px; *width:110px;  float:left; display:block;margin-top:15px; height:40px;*height:40px; text-align:center; color:#fff; font-size:16px; padding:6px 0px; cursor:pointer; color:#666;*line-height:25px;}
.change .Realname .upfile {width:350px;*width:350px; display:inline; float:left;*height:95px; *line-height:95px;*margin-left:100px;  }
.change .Realname .upfile a{ width:150px; height:95px; line-height:95px; display:block; background:#ededed; float:left; border:#cccccc 1px solid; }
.change .Realname .upfile a:hover{ color:#666;}
.change .Realname .beizhu{width:350px;*width:350px; display:inline; float:right; text-align:left; font-size:14px;}
